<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/wiki/xacro" name="robot">

   <!-- args -->
   <xacro:arg name="use_ros2_control" default="true"/>
   <xacro:arg name="sim_mode" default="false"/>

   <!-- initialize xacro properties -->
   <xacro:include filename="inertial_macros.xacro"/>
   <xacro:include filename="properties.xacro"/>

   <!-- initialize robot URDF -->
   <xacro:include filename="robot_core.xacro"/>

   <!-- initialize ros2_control -->
   <xacro:if value="$(arg use_ros2_control)">
      <xacro:include filename="ros2_control.xacro"/>
   </xacro:if>
   <xacro:unless value="$(arg use_ros2_control)">
      <xacro:include filename="gazebo_control.xacro"/>
   </xacro:unless>
   
   <!-- initialize sensors -->
   <xacro:include filename="lidar.xacro"/>
   <xacro:include filename="camera.xacro"/>

</robot>